<div class="center jumbotron">
  <div class="container">
  <h1>Sultan Clinic</h1>
  <%= link_to "Doctor", {:controller => 'doctor_sessions', :action => 'new'}, class: "btn btn-danger btn-lg" %>
  <%= link_to "Receptionist", {:controller => 'receptionist_sessions', :action => 'new'}, class: "btn btn-danger btn-lg btn-xlg" %>
  </div>
</div>
